# replace .env
VITE_ADSENSE_PUB_ID = ""
VITE_DOMAIN = ""
VITE_CLARITY_ID = ""
VITE_GA_MEASUREMENT_ID = ""

# secrets
BETTER_AUTH_SECRET = "xxx"
GOOGLE_CLIENT_SECRET = "xxx"

UNOSEND_API_KEY = "xxx"

CREEM_API_KEY = "xx"
CREEM_WEBHOOK_SECRET = "xxx"

R2_SECRET_ACCESS_KEY = "xxx"
